body {
    color: white;
    background-color: #1a415e;
}

h1 {
    text-align: left;
    margin: 0;
    font-weight: 300 !important;
    font-size: clamp(32px,4vw,52px);
}
h2 {
    margin: 0;
    font-weight: 900 !important;
    font-size: clamp(62px,8vw,140px);
}

.highlighted_title {
    margin-top: 1.4em;
    padding: 1em;
    width: 100%;
    background-color: #fff;
    color: #1c1c1c;
    z-index: 2;
    border-radius: 50px;
}

.viewHeader {
    text-align: center;
    margin: 0;
    font-weight: 450 !important;
    font-size: clamp(62px,5vw,140px);
}
